/* BEGIN Custom CSS */
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  scroll-snap-type: y mandatory;
}
.App button {
  width: 200px;
  height: 60px;
  border: 4px solid #3F3D56;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 1.5rem;
}
.App .button {
  margin-left: 7%;
  margin-bottom: 8%;
  background-color: #ec3944;
  color: white;
}
@media (max-width: 800px) {
  .App .button {
    margin-left: 0%;
  }
}
.App button:hover {
  background-color: #ec3944;
}
.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2%;
}
.loginForm .labels {
  display: flex;
  flex-direction: column;
}
.loginForm .labels label {
  padding: 1%;
}
.loginForm .buttons {
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.loginForm .buttons button {
  margin: 2px auto;
}
.registerForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2%;
}
.registerForm label {
  padding: 1%;
}
.registerForm button {
  margin: 2px auto;
}
.ticketForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2%;
}
.ticketForm .textblock {
  display: flex;
  flex-direction: column;
}
.ticketForm .textblock label {
  padding: 1%;
}
.ticketForm .textblock input,
.ticketForm .textblock textarea {
  margin: 2px auto;
  width: 20%;
}
.ticketForm .buttons {
  display: flex;
  flex-direction: column;
  margin: 2px auto;
}
.ticketForm .buttons button {
  margin: 2px auto;
}
